DATA_SOURCE_USERNAME=local
DATA_SOURCE_PASSWORD=local
DATA_SOURCE_DB_NAME=local
DATA_SOURCE_DB_HOST=localhost
JWT_SIGNING_KEY=A1B2C3D4E5F67890ABCDEF1234567890ABCDEF1234567890ABCDEF1234567890
JWT_EXPIRATION_SEC=1800# 30 minutes